<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-radio-group [(ngModel)]="plano">
    <ion-list-header>
      <ion-label>EX1</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Normal</ion-label>
      <ion-radio slot="start" value="Normal"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Superior</ion-label>
      <ion-radio slot="start" value="Superior"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>VIP</ion-label>
      <ion-radio slot="start" value="VIP"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-item>
    <ion-input [(ngModel)]="kmRodado" placeholder="Quantidade de quilômetros rodados"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="calcular()">Calcular</ion-button>

  <ion-list-header>
    <ion-label>EX2</ion-label>
  </ion-list-header>

  <ion-radio-group [(ngModel)]="combustivel">
    <ion-item>
      <ion-radio value="etanol">ETANOL</ion-radio>
    </ion-item>

    <ion-item>
      <ion-radio value="gasolina">GASOLINA</ion-radio>
    </ion-item>

    <ion-item>
      <ion-radio value="diesel">DIESEL</ion-radio>
    </ion-item>
  </ion-radio-group>

  <br>

  <ion-item>
    <ion-input [(ngModel)]="ppl" label="Preço por litro:" placeholder="Insira o preço"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="km2"  label="Quilometragem rodada:" placeholder="Insira a quilometragem"></ion-input>
  </ion-item>

  <ion-button (click)="calcular2()" expand="block">Calcular</ion-button>
</ion-content>
